body {
    margin: 0;
    padding: 0;
    background-color:darkgrey;
}

.header {
    align-items: center;
    align-content: center;
    text-align: center;
}

.title_Span {
    font-size: 40pt;
    font-weight: bold;
}