<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="leftAside" th:fragment="commonLeftAside">
  <div class="container-sm menu" style="height: 100vh;">
    <div class="list-group" style="width: 90%;">
      <ul class="list-group list-group-flush">
        <li th:align="center" class="list-group-item">
          <img th:src="@{/img/crown.png}" alt="basic_profile" width="30px" height="30px" class="rounded-circle">
          <span class="bodySpan-3 ms-2" style="position: relative; top: 2px;">MVP 관종들</span>
        </li>
        <li class="list-group-item">
          <img th:src="@{/img/basic_profile.png}" alt="basic_profile" width="25px" height="25px" class="rounded-circle">
          <span class="bodySpan-1 ms-1">오빠만미더덕</span>
          <img th:src="@{/img/attention.png}" alt="attention" width="20px" height="20px">
          <span class="bodySpan-2 me-1">1,723</span>
        </li>
        <li class="list-group-item">
          <img th:src="@{/img/basic_profile.png}" alt="basic_profile" width="25px" height="25px" class="rounded-circle">
          <span class="bodySpan-1 ms-1">오빠만미더덕</span>
          <img th:src="@{/img/attention.png}" alt="attention" width="20px" height="20px">
          <span class="bodySpan-2 me-1">1,520</span>
        </li>
        <li class="list-group-item">
          <img th:src="@{/img/basic_profile.png}" alt="basic_profile" width="25px" height="25px" class="rounded-circle">
          <span class="bodySpan-1 ms-1">오빠만미더덕</span>
          <img th:src="@{/img/attention.png}" alt="attention" width="20px" height="20px">
          <span class="bodySpan-2 me-1">1,375</span>
        </li>
        <li class="list-group-item">
          <img th:src="@{/img/basic_profile.png}" alt="basic_profile" width="25px" height="25px" class="rounded-circle">
          <span class="bodySpan-1 ms-1">오빠만미더덕</span>
          <img th:src="@{/img/attention.png}" alt="attention" width="20px" height="20px">
          <span class="bodySpan-2 me-1">1,221</span>
        </li>
        <li class="list-group-item">
          <img th:src="@{/img/basic_profile.png}" alt="basic_profile" width="25px" height="25px" class="rounded-circle">
          <span class="bodySpan-1 ms-1">오빠만미더덕</span>
          <img th:src="@{/img/attention.png}" alt="attention" width="20px" height="20px">
          <span class="bodySpan-2 me-1">997</span>
        </li>
        <li th:align="center" class="list-group-item">
          <span class="bodySpan-4" style="cursor: pointer;">더 보기</span>
        </li>
      </ul>
    </div>
    <div class="mt-4">
      <img th:src="@{/img/example_maegu.png}" alt="example" width="90%" height="800px" style="cursor: pointer;">
    </div>
  </div>
</div>
</html>