<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WASD Game</title>
    <script src="/js/phaser/phaser.js"></script>
    <script src="/plugins/SpinePluginDebug.js"></script>
    <script src="/js/wasd_towerDefense/main.js" type="module"></script>
    <link rel="stylesheet" type="text/css" href="/css/wasd_defense.css">
</head>
<body>
   <div class="header">
     <div>
       <span class="title_Span">WASD TowerDefense Game</span>
     </div>
   </div>
   <div class="body">
       <div id="wasd"></div>
   </div>
   <div class="footer">
   </div>
</body>
</html>